<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Annapurna_Bazar_Mgt_System.Properties.Settings.ABMSConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=ABMS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Annapurna_Bazar_Mgt_System.Properties.Settings.ABMSConnectionString1"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\ABMS.mdf;Initial Catalog=ABMS_log.LDF;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup useLegacyV2RuntimeActivationPolicy="true">
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
